hr {
  display: block;
  position: relative;
  width: 75%;
  margin: 20px auto;
}

.basic-slider {
  position: relative;
  vertical-align: middle;
}

.playground {
  display: grid;
  gap: 40px;
}

.playground-section {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 30px;
  border: 2px solid white;
  width: 75%;
  margin: 0px auto;
  padding: 2em;
  backdrop-filter: contrast(110%) brightness(120%) saturate(200%) blur(4px);
  border-radius: 20px;
}

.play-stop-button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 10px;
  background-image: url("ressources/generic/Play.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  cursor: pointer;
}

/*
.playground-section * {
  border: 1px solid blueviolet;
}
*/

.select-section, .slider-section {
  display: block;
}

.slider-section p{
  display: inline-block;
  margin: 10px;
}

.media-player {
  display: flex;
  align-items: center;
  gap: 40px;
}

.media-select select {
  font-family: "Roboto";
  width: 100%;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  outline: 0;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.media-select option {
  background: rgba(0, 0, 0, 0);
  color: black;
}
.media-select select::-ms-expand {
  display: none;
}
.media-select select:hover {
  background: #ffffff0e;
}
.media-select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.media-select-arrow {
  position: relative;
  bottom: 20px;
  left: 85%;
  width: 9px;
  height: 9px; 
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.media-select select:disabled ~ .media-select-arrow {
  border-top-color: white;
}

.playground-section h3 {
  text-align: center;
}

.playground-section .media-player {
  text-align: center;
}

.playground-section p {
  text-align: center;
  word-wrap: break-word;
}