hr {
  display: block;
  position: relative;
  width: 75%;
  margin: 20px auto;
}

.basic-slider {
  position: relative;
  vertical-align: middle;
}

.playground-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  gap: 20px;
  border: 2px solid white;
  width: 75%;
  margin: 20px auto;
  padding: 2em;
  backdrop-filter: contrast(110%) brightness(120%) saturate(200%) blur(4px);
  border-radius: 20px;
}

.playground-section .media-player {
  display: block;
}

.playground-section h3 {
  grid-column: 1 / span 2;
  text-align: center;
}

.desc {
  grid-row: 3;
  grid-column: 1 / span 2;
  text-align: center;
  word-wrap: break-word;
}

.play-stop-button {
  position: relative;
  left: 40%;
  width: 40px;
  height: 40px;
  background-image: url("ressources/generic/Play.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  cursor: pointer;
}

/*
.playground-section * {
  border: 1px solid blueviolet;
}
*/

.media-player button {
  border: 2px solid white;
  border-radius: 10px;
}