/*
    Colors :
    Bleu generique : #55dcd8 / 85, 220, 216
    Bleu accent : #609edb / 96, 158, 219
    Rouge : #db726b / 219, 114, 107
    Vert : #4bdb85 / 75, 219, 133
    Orange : #dba140 / 219, 161, 64
*/


/* CSS DE LA PAGE HOME */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button {
  all: unset;
  color: white;
}

:root {
  --primary-color: rgb(
    85,
    220,
    216
  ); /*Bleu generique : #55dcd8 / 85, 220, 216*/
  --primary-color-alpha: rgba(85, 220, 216, 0.7);
  --secondary-color: rgb(96, 158, 219); /*Bleu accent : #609edb / 96, 158, 219*/
  --secondary-color-alpha: rgba(96, 158, 219, 0.7);
  --error-color: rgb(219, 114, 107); /*Rouge : #db726b / 219, 114, 107*/
  --validate-color: rgb(75, 219, 133); /*Vert : #4bdb85 / 75, 219, 133*/
  --marked-color: rgb(219, 161, 64); /*Orange : #dba140 / 219, 161, 64*/
  --marked-color-alpha: rgba(219, 161, 64, 0.75);
  --neutral-color: rgb(160, 160, 160);
  --neutral-color-alpha: rgba(160, 160, 160, 0.15);
}


.start-experience {
  display: flex;
  position: fixed;
  scale: 1;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 100%;
  justify-content: center;
  align-items: center;
}
.start-experience button {
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  display: flex;
  width: 250px;
  height: 100px;
  border: 0px solid transparent;
  justify-content: center;
  align-items: center;
}

.loader{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 70%;
}
#loader-anim span{
  display: inline-block;
  width: 5px;
  height: 0px;
  background-color: #FFFFFF;
  margin: 0 3px;
}

#loader-anim span:nth-child(1){
  animation: grow 1s ease-in-out infinite;
}
#loader-anim span:nth-child(2){
  animation: grow 1s ease-in-out 0.15s infinite;
}
#loader-anim span:nth-child(3){
  animation: grow 1s ease-in-out 0.30s infinite;
}
#loader-anim span:nth-child(4){
  animation: grow 1s ease-in-out 0.45s infinite;
}
#loader-anim span:nth-child(5){
  animation: grow 1s ease-in-out 0.60s infinite;
}

@keyframes grow{
  0%, 100%{
    height: 10px;
  }

  50%{
    height: 25px;
  }
}

button.loaded {
  scale: 105%;
  border: 4px solid white;
  transition: all 1s ease;
  cursor: pointer;
}

div#loader-anim.loader.loaded {
  opacity: 0;
  transition: all 1s ease;
}


.fade-transition {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0%;
}

nav {
  display: flex;
  position: sticky;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  top: 0px;
  align-items: center;
  background: rgb(0, 0, 0);
  box-shadow: 0px 1px 0px white;
}

.nav-icon {
  display: grid;
  align-items: center;
  margin-left: 10px;
}

.nav-icon a {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
  font-size: 35px;
  margin-left: 10px;
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
  text-shadow: 6px 4px 20px var(--primary-color-alpha);
  font-weight: 300;
}

.nav-icon img {
  width: 40px;
  transform: rotate(-17deg) translateX(5px);
}

.navlinks-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}
.navlinks-container a {
  display: inline-block;
  position: relative;
  color: var(--secondary-color);
  font-size: 22px;
  font-weight: 300;
  margin: 0 10px;
  text-decoration: none;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 0.1s ease-out;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: center;
  background: var(--primary-color);
  transition: all 0.35s ease-out;
}
.navlinks-container a:hover::after {
  transform: scaleX(1);
}
.navlinks-container a:hover {
  color: var(--primary-color);
  text-shadow: 10px 10px 40px var(--primary-color);
}

.volume {
  height: 90%;
  width: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.volume:hover .volume-slider {
  opacity: 1;
}

.volume-button {
  position: absolute;
  width: 3.5%;
  height: 70%;
  background-image: url("ressources/generic/VolumeFull.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.volume-slider {
  transform: rotate(-90deg);
  top: 200%;
  opacity: 0;
}
.volume-slider,
.basic-slider {
  position: relative;
  transition: all 0.2s ease-out 0.1s;
  background-color: transparent;
  pointer-events: auto;
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 50px;
  border: 2px solid white;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 26px;
  width: 15px;
  border-radius: 50px;
  background: black;
  border: 3px solid white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  /*background: #ffffff;*/
  border-radius: 50px;
  border: 3px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 4px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 50px;
  /*background: #FFFFFF;*/
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  /*background: #ffffff;*/
  border: 4px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 4px solid white;
  height: 26px;
  width: 26px;
  border-radius: 50px;
  background: black;
  cursor: pointer;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0px;
  text-shadow: 6px 4px 20px var(--primary-color-alpha);
  text-transform: capitalize;
}

h2 {
  /*  font-family: "Franklin Gothic", cursive;*/
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  font-size: 2em;
}
h3 {
  /*  font-family: "Franklin Gothic", cursive;*/
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  font-size: 1.5em;
}

p,
a,
ol,
ul,
label,
legend {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1em;
  text-decoration: none;
}


strong {
  color: var(--primary-color);
  text-shadow: 0 0 10px var(--primary-color);
}

.link {
  color: var(--secondary-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}
.link:hover {
  color: var(--primary-color);
  text-shadow: 6px 4px 20px var(--primary-color-alpha);
}
.link:active {
  color: var(--validate-color);
}

fieldset {
  background-color: var(--neutral-color-alpha);
}

body {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  background-color: #333;
  background-image: url("ressources/generic/background.jpg");
  position: relative;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

main {
  padding-bottom: 5em;
}

.video-section {
  display: block;
  width: auto;
  height: 315px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.softwares-used-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
  margin: 40px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.softwares-used-section p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 10px 0;
}

.dante .certificate {
  display: block;
  position: relative;
  margin-top: -30px;
  left: 65px;
  top: 20px;
  filter: invert(79%) sepia(44%) saturate(6269%) hue-rotate(7deg) brightness(96%) contrast(97%);
  z-index: 1;
}
.protools .certificate {
  display: block;
  position: relative;
  margin-top: -30px;
  left: 25px;
  top: 25px;
  filter: invert(79%) sepia(44%) saturate(6269%) hue-rotate(7deg) brightness(96%) contrast(97%);
  z-index: 1;
}

.softwares-used-section img {
  display: block;
  margin: 0 auto;
  filter: invert(100%);
}

.softwares-used-section .title {
  grid-area: 1 / 7 / 1 / 3;
}
.wwise { grid-area: 2 / 1 / 2 / 3; }
.fmod { grid-area: 2 / 3 / 2 / 5; }
.unity { grid-area: 2 / 5 / 2 / 7; }
.unreal { grid-area: 2 / 7 / 2 / 9; }
.audition { grid-area: 3 / 2 / 3 / 4; }
.bitwig { grid-area: 3 / 4 / 3 / 6; }
.max { grid-area: 3 / 6 / 3 / 8; }
.reaper { grid-area: 4 / 1 / 4 / 3; }
.protools { grid-area: 4 / 3 / 4 / 5; }
.dante { grid-area: 4 / 5 / 4 / 7; }
.ableton { grid-area: 4 / 7 / 4 / 9; }

.softwares-used-section > a {
  transition: all 0.3s ease-out;
}
.softwares-used-section > a:hover {
  scale: 120%;
  transition: all 0.15s ease-out;
  text-shadow: 0 0 10px var(--primary-color);
}

.profile-content {
  display: flex;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.profile-content img {
  width: 50%;
  height: auto;
  border-radius: 20%;
  border: 3px solid white;
  transition: all 0.2s ease-out;
  animation: wobble 3s 0s ease-in-out infinite alternate-reverse;
}

.profile-content img:hover {
  border-radius: 30%;
  rotate: 0deg;
  animation: none;
}
.profile-content p {
  padding-top: 40px;
  text-align: center;
  max-width: 100%;
  font-size: 1.5em;
}

.bottominfo {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 50px;
  justify-content: center;
  gap: 40px;
  align-items: center;
  bottom: 0;
  left: 0;
  align-items: center;
  background: rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 1px white;
}

.bottominfo output {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 0.8em;
  text-decoration: none;
}

.bottominfo .fmod-logo {
  filter: invert(100%);
  width: 100px;
  height: auto;
}

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: rgb(104, 104, 104)
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #474747; 
}


/* CSS DE LA PAGE PROJECTS */

.card-container {
  padding: 0 4em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 30px;
}

.card-wrapper {
  position: relative;
  min-height: 422px;
  perspective: 2000px;
  perspective-origin: top;
}

.card.turn {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all 0.5s cubic-bezier(0.23, 0, 0.08, 1);
  color: white;
  font-weight: bold;
  box-shadow: 0 0 0 0px var(--primary-color);
  border-radius: 10px;
  user-select: none;
}

.card:hover {
  box-shadow: 0 0 20px var(--primary-color);
}
.card:hover .hover-msg {
  opacity: 1;
}

.card-front,
.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-front video {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
}
.card-front .hover-msg {
  display: flex;
  justify-content: center;
  margin-left: 17%;
  position: absolute;
  width: 35%;
  top: 50%;
  text-align: center;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.23, 0, 0.08, 1);
  cursor: pointer;
}

.card-back .back-image img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
}
.card-back .date {
  position: absolute;
  bottom: 0.4rem;
  left: 4.5rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 0.7rem;
  /*  font-family: "Franklin Gothic", cursive;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
}
.card-back .type {
  position: absolute;
  bottom: 0.4rem;
  left: 2.6rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 1rem;
  /*  font-family: "Franklin Gothic", cursive;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: var(--primary-color);
  text-shadow: 0 0 10px var(--primary-color-alpha);
}

.card-back-text {
  position: absolute;
  margin: 7.5% 5% 5% 30%;
}

.card-back-text h2 {
  /*  font-family: "Franklin Gothic", cursive;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 1em;
  margin: 40px 0px 5px 0px;
}

.card-back-text blockquote {
  /*  font-family: "Franklin Gothic Book", cursive;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 0.9em;
  color: white;
  text-align: center;
}

.card-back-text p,
.card-back-text li {
  /*  font-family: "Franklin Gothic", cursive;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 0.8em;
  text-decoration: none;
}

.card-back-text ul {
  list-style-type: disc;
  margin-left: 20px;
}

.card-back .info-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: -85%;
  margin-left: -80%;
  width: 12%;
  height: 10%;
  background-color: transparent;
  border: solid;
  border-width: 3px;
  border-radius: 20%;
  cursor: pointer;
}

.link-icon {
  display: block;
  filter: invert();
}

.card-front {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-back {
  background: #000;
  transform: rotateY(180deg);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Styles supplï¿½mentaires pour la superposition */
}

@media screen and (max-width: 940px) {
  .banner {
    width: 90%;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .main-navlinks {
    order: 1;
  }
}


/* CSS DE LA PAGE PLAYGROUND */
hr {
  display: block;
  position: relative;
  width: 75%;
  margin: 20px auto;
}

.basic-slider {
  position: relative;
  vertical-align: middle;
}

.playground {
  display: grid;
  gap: 40px;
}

.playground-section {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 30px;
  border: 2px solid white;
  width: 75%;
  margin: 0px auto;
  padding: 2em;
  backdrop-filter: contrast(110%) brightness(120%) saturate(200%) blur(4px);
  border-radius: 20px;
}

.play-stop-button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 10px;
  background-image: url("ressources/generic/Play.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  cursor: pointer;
}

/*
.playground-section * {
  border: 1px solid blueviolet;
}
*/

.select-section, .slider-section {
  display: block;
}

.slider-section p{
  display: inline-block;
  margin: 10px;
}

.media-player {
  display: flex;
  align-items: center;
  gap: 40px;
}

.media-select select {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  outline: 0;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.media-select option {
  background: rgba(0, 0, 0, 0);
  color: black;
}
.media-select select::-ms-expand {
  display: none;
}
.media-select select:hover {
  background: #ffffff0e;
}
.media-select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.media-select-arrow {
  position: relative;
  bottom: 20px;
  left: 85%;
  width: 9px;
  height: 9px; 
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.media-select select:disabled ~ .media-select-arrow {
  border-top-color: white;
}

.playground-section h3 {
  text-align: center;
}

.playground-section .media-player {
  text-align: center;
}

.playground-section p {
  text-align: center;
  word-wrap: break-word;
}



/*
.background-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/

@keyframes wobble {
  from {
    rotate: -2deg;
  }
  to {
    rotate: 1deg;
  }
}

@media screen and (max-width: 940px) {
  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .main-navlinks {
    order: 1;
  }
}
